.blog {
    text-align: left;
    padding: 20px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;

}

.blog-button {
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.blog {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Responsive styles */
@media (max-width: 768px) {
    .blog {
        width: 100%;
        padding: 10px;
    }

    .blog button {
        width: 100%;
        padding: 10px 20px;
    }
}

.blog button {
    width: 250px;
    height: 60px;
    border: 1px solid rgba(255, 0, 144, 0.733);
    padding: 10px 40px;
    background-color: #ffffff;
    color: rgba(255, 0, 144, 0.733);
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
    margin: 5px;
}

.blog button:hover {
    background-color: rgba(255, 0, 144, 0.733);
    color: #fff;
}

.blog p {
    font-size: 14px;
}

.blog h1 {
    margin-top: -70px !important;
}