/* src/components//Home.css */
.projects {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects button {
    width: 250px;
    height: 50px;
    border: 1px solid rgba(255, 0, 144, 0.733);
    padding: 10px 40px;
    background-color: #ffffff;
    color: rgba(255, 0, 144, 0.733);
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
    margin: 5px;
}

.projects button:hover {
    background-color: rgba(255, 0, 144, 0.733);
    color: #fff;
}

.projects p {
    font-size: 14px;
}

.projects h1 {
    text-align: center;
    margin-top: 10px; 
}

/* Responsive styles */
@media (max-width: 768px) {
    .projects {
        padding: 10px;
    }

    .blog-button {
        width: 100%;
        margin: 5px 0;
    }

    .back-button {
        width: 100%;
        margin: 5px 0;
    }
}