.about {
    text-align: center;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 150px 10px 150px;
    width: 1000px;
    margin-bottom: 100px;
    /* Increased width */
}

/* Responsive styles */
@media (max-width: 768px) {
    .about {
        padding: 20px;
        max-width: 100%;         /* allow container to resize */
        width: auto;
        box-sizing: border-box;  /* include padding in width */
    }

    .about-button {
        width: 100%; /* added unit and set to full width */
        margin: 5px 0;
    }

    .about-content {
        width: 100%;
        padding: 10px;
        font-size: 12px;         /* reduce text size on mobile */
    }

    .back-button {
        width: 100%;
        margin: 5px 0;
        max-width: 100px;
        font-size: 12px;
    }

    /* Adjust the title spacing */
    .titleabt {
        margin: 0 auto 20px auto;
        padding: 0;              /* remove extra spacing */
    }
}

.profilePic {
    width: 200px;
    height: 200px;
    margin-bottom: 50px;
    max-width: 700px;
}

.about-content {
    border: 1px solid rgba(255, 0, 144, 0.733);
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    width: 96%;
    /* Ensure it takes full width of the parent */
}

.social-links {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icon {
    width: 30px;
    height: 30px;
    transition: transform 0.3s;
    border-radius: 5px;
}

.social-icon:hover {
    transform: scale(1.1);
}

.experience {
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    width: 86%;
    /* Adjust width as needed */
    margin-left: auto;
    margin-right: auto;
    /* Center the experience box */
}

.bordered-section {
    border: 1px solid rgba(255, 0, 144, 0.733);
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}


.about h3 {
    font-size: 14px;
    /* Adjust the heading sizes as needed */
}

ul {
    list-style-type: none;
    /* Remove bullet points */
    padding-left: 0;
    /* Remove default padding */
}

.about p,
.about ul {
    font-size: 14px;
    /* Adjust the paragraph and list sizes as needed */
}

/* Add new style for centering the .titleabt title */
.titleabt {
    text-align: center;
    margin: 0 auto 20px auto;
}

.social-icon {
    width: 24px;
    /* Adjust the icon size as needed */
    height: 24px;
    /* Adjust the icon size as needed */
}