.about {
    text-align: center;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 150px 10px 150px;
    width: 1000px;
    margin-bottom: 100px;
    /* Increased width */
}

/* Responsive styles */
@media (max-width: 768px) {
    .projects {
        padding: 10px;
    }

    .about-button {
        width: 100%;
        margin: 5px 0;
    }

    .back-button {
        width: 100%;
        margin: 5px 0;
    }
}

.profilePic {
    width: 200px;
    height: 200px;
    margin-bottom: 50px;
    max-width: 700px;
}

.about-content {
    border: 1px solid rgba(255, 0, 144, 0.733);
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    width: 96%;
    /* Ensure it takes full width of the parent */
}

.social-links {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icon {
    width: 30px;
    height: 30px;
    transition: transform 0.3s;
    border-radius: 5px;
}

.social-icon:hover {
    transform: scale(1.1);
}

.experience {
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    width: 86%;
    /* Adjust width as needed */
    margin-left: auto;
    margin-right: auto;
    /* Center the experience box */
}

.bordered-section {
    border: 1px solid rgba(255, 0, 144, 0.733);
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}


.about h3 {
    font-size: 14px;
    /* Adjust the heading sizes as needed */
}

ul {
    list-style-type: none;
    /* Remove bullet points */
    padding-left: 0;
    /* Remove default padding */
}

.about p,
.about ul {
    font-size: 14px;
    /* Adjust the paragraph and list sizes as needed */
}

.social-icon {
    width: 24px;
    /* Adjust the icon size as needed */
    height: 24px;
    /* Adjust the icon size as needed */
}