.engineering {
    text-align: center;
    padding: 20px;
}

.project-link {
    margin: 10px; /* Adjust the margin as needed */
    display: inline-block; /* This makes the margin effective */
}

.projects-container {
    display: flex;
    flex-direction: column; /* Aligns projects in a single column */
    align-items: start; /* Aligns projects to the start of the container */
    padding: 0;
    text-align: center;
    align-items: center;
    margin: 10px; 
}

.project {
    margin: 10px 0; /* Adds vertical spacing between projects */
    color: #007bff; /* Example link color, adjust as needed */
    text-decoration: none; /* Removes underline from links */
    font-size: 18px; /* Adjust font size as needed */
    color: #343434;
    
}

.project:hover {
    text-decoration: underline; 
}

.links-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column; 
    height: 100%; 
  }