.engineering {
    text-align: center;
    padding: 30px;
}

.projects-container {
    display: flex;
    align-items: center;
    flex-direction: row; 
    justify-content: center;
    padding: 0;
    margin: 20px; 
}

/* Engineering.css */
.engineering button {
    border: 2px solid #787878; /* Example: Blue border */
    padding: 8px 16px;
    background-color: #fff; /* White background */
    color: #a9a9a9; /* Blue text */
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.engineering button:hover {
    background-color: #767676; /* Blue background on hover */
    color: #fff; /* White text on hover */
}