.engineering {
    text-align: center;
    padding: 30px;
}

.projects-container {
    display: flex;
    align-items: center;
    flex-direction: row; 
    justify-content: center;
    padding: 0;
    margin: 20px; 
}

.engineering button {
    border: 1px solid #000000; 
    padding: 4px 8px; 
    background-color: #fff; 
    color: #000000; 
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px; 
    margin: 5px; 
}

.engineering button:hover {
    background-color: #a7a7a7; 
    color: #fff;
}