.engineering {
    text-align: center;
    padding: 20px;
}

.projects-container {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap; 
}

.project {
    width: calc(50% - 20px); 
    margin: 10px;
   
}
.projects-container {
    display: flex;
    flex-direction: column; /* Aligns projects in a single column */
    align-items: start; /* Aligns projects to the start of the container */
    padding: 0;
}

.project {
    margin: 10px 0; /* Adds vertical spacing between projects */
    color: #007bff; /* Example link color, adjust as needed */
    text-decoration: none; /* Removes underline from links */
    font-size: 18px; /* Adjust font size as needed */
}

.project:hover {
    text-decoration: underline; /* Adds underline on hover for visual feedback */
}