.engineering {
    text-align: center;
    padding: 30px;
}

.projects-container {
    display: flex;
    align-items: center;
    flex-direction: row; 
    justify-content: center;
    padding: 0;
    margin: 20px; 
}

