/* General styles */
.project-info {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.center-wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 150px 10px 150px;
    text-align: center;
}

.experience {
    width: 100%;
    max-width: 1200px;
    margin: 20px;
}

.project-info h2 {
    color: #FF0090;
}

.project-info p {
    color: #FF0090;
    line-height: 1.6;
}

.project-info a {
    color: #008080;
    text-decoration: none;
}

.project-info a:hover {
    text-decoration: underline;
}

.project-info img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 4px;
}

.back-button {
    margin: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
}

.content {
    text-align: left;
    margin: 20px;
}

.job {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.job-logo {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-right: 20px;
}

.job-details {
    flex: 1;
}

h2 {
    font-size: 1.5em;
    margin-top: 0;
}

h3 {
    font-size: 1.3em;
    margin-top: 5px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

/* Mobile styles */
@media (max-width: 768px) {
    .center-wrapper {
        padding: 20px;
    }

    .job {
        flex-direction: column;
        align-items: flex-start;
    }

    .job-logo {
        width: 50px;
        height: 50px;
        margin-right: 50px;
        margin-bottom: 10px;

    }

    .job-details {
        text-align: center;
    }

    h2 {
        font-size: 1.2em;
    }

    h3 {
        font-size: 1.1em;
    }
}