/* src/components/Home/Home.css */
.home {
    text-align: center;
    padding: 100px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.DinnerImage {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
