/* src/components/Home/Home.css */
.home {
    text-align: center;
    padding: 20px;
}
.DinnerImage {
    width: 300px;
    height: 200px;
    margin-bottom: 20px;

}
.column {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}