/* src/components/Home/Home.css */
.home {
    text-align: center;
    padding: 100px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    background-color: grey;
.DinnerImage {
    width: 70%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
p {
    line-height: 1;
}