/* src/components/Home/Home.css */
.home {
    text-align: center;
    padding: 100px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.DinnerImage {
    width: 470px;
    height: 300px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
