.photography {
    text-align: center;
    padding: 20px;
}

.co
.image-gallery {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.image-container {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 5px;
}

.image-container img {
    width: 100%;
    /* Adjust the width as needed */
    max-width: 600px;
    /* Optional: set a maximum width */
    height: auto;
    /* Maintain aspect ratio */
}

.photography {
    text-align: center;
    padding: 20px;
}

.image-gallery {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.image-container {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 5px;
}

.image-container img {
    width: 100%;
    /* Adjust the width as needed */
    max-width: 600px;
    /* Optional: set a maximum width */
    height: auto;
    /* Maintain aspect ratio */
}