/* src/components//Home.css */
.projects {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* Vertically layout buttons */
    align-items: center;
    /* Center buttons horizontally */

}

.projects button {
    width: 250px;
    height: 50px;
    border: 1px solid rgba(255, 0, 144, 0.733);
    padding: 10px 40px;
    background-color: #93cd9c;
    color: rgba(255, 0, 144, 0.733);
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
    margin: 5px;
}

.projects button:hover {
    background-color: rgba(255, 0, 144, 0.733);
    color: #fff;
}

.projects p {
    font-size: 14px;
}