/* src/components//Home.css */
.projects {
    text-align: center;
    padding: 20px;
}

.projects button {
    border: 1px solid #000000; 
    padding: 4px 8px; 
    background-color: #fff; 
    color: #000000; 
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px; 
    margin: 5px; 
}

.projects button:hover {
    background-color: #a7a7a7; 
    color: #fff;
}