.project-info {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.center-wrapper {
    min-height: 100vh;
    /* Minimum height is full viewport height */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 150px 10px 150px;
}

.tiktokviewpredictor {
    width: 100%;
    max-width: 1200px;
    /* Set a max-width to ensure readability */
}

.project-info h2 {
    color: #FF0090;
}

.project-info p {
    color: #FF0090;
    line-height: 1.6;
}

.project-info a {
    color: #008080;
    text-decoration: none;
}

.project-info a:hover {
    text-decoration: underline;
}

.project-info img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 4px;
}